{% extends "adminsite2_layout.html" %}
{% block content %}
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="card-title">Dropdown Menus</h4>
                            <p>
                                Dropdowns are toggleable, contextual overlays for displaying lists of links and more. 
                                They’re made interactive with the included Bootstrap dropdown JavaScript plugin. 
                                They’re toggled by clicking, not by hovering.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card text-center">
                                <div class="card-block">
                                    <h6 class="text-bold content-group-sm">Default Dropdown</h6>
                                    <div class="dropdown-menu dropdown-demo" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Seperated Link</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="card text-center">
                                <div class="card-block">
                                    <h6 class="text-bold content-group-sm">Active Dropdown</h6>
                                    <div class="dropdown-menu dropdown-demo" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item active" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Seperated Link</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                         <div class="col-lg-4">
                            <div class="card text-center">
                                <div class="card-block">
                                    <h6 class="text-bold content-group-sm">Hover Dropdown</h6>
                                    <div class="dropdown-menu dropdown-demo dropdown-hover" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Seperated Link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card text-center">
                                <div class="card-block">
                                    <h6 class="text-bold content-group-sm">With Icons</h6>
                                    <div class="dropdown-menu dropdown-demo" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#"><i class="fa fa-bank position-left"></i>Action</a>
                                        <a class="dropdown-item" href="#"><i class="fa fa-cloud position-left"></i>Another action</a>
                                        <a class="dropdown-item" href="#"><i class="fa fa-edit position-left"></i>Something else here</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#"><i class="fa fa-envelope position-left"></i>Seperated Link</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                         <div class="col-lg-4">
                            <div class="card text-center">
                                <div class="card-block">
                                    <h6 class="text-bold content-group-sm">With Headers</h6>
                                    <div class="dropdown-menu dropdown-demo" aria-labelledby="dropdownMenuButton">
                                        <h6 class="dropdown-header">Dropdown header</h6>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Seperated Link</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="card text-center">
                                <div class="card-block">
                                    <h6 class="text-bold content-group-sm">Disabled Items</h6>
                                    <div class="dropdown-menu dropdown-demo" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item disabled" href="#">Another Action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Seperated Link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endblock %}