{% extends "adminsite2_layout.html" %}
{% block content %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title">Time Pickers</h4>
                                    <p>
                                        The plugin <code>pickatime.js</code> is a highly flexible JavaScript plugin for various
                                        kinds of time pickers.
                                    </p>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="content-group-lg margin-top-20">
                                                <label class="text-bold no-margin-bottom">Basic Time Picker</label>
                                                <p class="no-margin">This is an example of default time picker.</p>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input type="text" class="form-control timepicker" placeholder="Try me..">
                                                </div>
                                            </div>

                                            <div class="content-group-lg">
                                                <label class="text-bold no-margin-bottom">Translation</label>
                                                <p class="no-margin">The picker can be extended to add support for internationalization.</p>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input type="text" class="form-control timepicker-translation" placeholder="Try me..">
                                                </div>
                                            </div>

                                            <div class="content-group-lg">
                                                <label class="text-bold no-margin">Clear Button</label>
                                                <p class="no-margin">Change the text or hide the button completely by passing a false-y value.</p>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input type="text" class="form-control timepicker-clear" placeholder="Try me..">
                                                </div>
                                            </div>

                                            <div class="content-group-lg">
                                                <label class="text-bold no-margin">Formats</label>
                                                <p class="no-margin">Display a human-friendly label and input format and use an alternate one
                                                    to submit.</p>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input type="text" class="form-control timepicker-formats" placeholder="Try me..">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="content-group-lg margin-top-20">
                                                <label class="text-bold no-margin">Intervals</label>
                                                <p class="no-margin">Choose the minutes interval between each time in the list.</p>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input type="text" class="form-control timepicker-intervals" placeholder="Try me..">
                                                </div>
                                            </div>

                                            <div class="content-group-lg margin-top-20">
                                                <label class="text-bold no-margin">Disable Times</label>
                                                <p class="no-margin">Disable a specific or arbitrary set of times selectable on the picker.</p>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input type="text" class="form-control timepicker-disable" placeholder="Try me..">
                                                </div>
                                            </div>

                                            <div class="content-group-lg margin-top-20">
                                                <label class="text-bold no-margin">Close on a user action</label>
                                                <p class="no-margin">Set the picker to respond to user actions.</p>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input type="text" class="form-control timepicker-user" placeholder="Try me..">
                                                </div>
                                            </div>

                                            <div class="content-group-lg margin-top-20">
                                                <label class="text-bold no-margin">Timepicker Events</label>
                                                <p class="no-margin">Fire off events as the user interacts with the picker. Open your console
                                                    to see results.</p>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input type="text" class="form-control timepicker-events" placeholder="Try me..">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}