{% extends "adminsite2_layout.html" %}

{% block extrascripts %}
<!--FIXME: importing minified ckeditor doesn't work-->
<script type="text/javascript" src="https://sdk.ckeditor.com/vendor/ckeditor/4.10.0/ckeditor.js"></script>

{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md-12">
                <h3 class="page-title">CK Editor</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info" role="alert">
                    <strong>CK Editor</strong> is the battle-tested editor, when you need even more features and legacy compatibility.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Example</h4>
                        <div id="editor-main">
                            <h2>Computer Science</h2>
                            
                            <p><strong>Computer science</strong> is the study of the theory, experimentation, and engineering that form the basis for the design and use of <a href="/wiki/Computer">computers</a>. It is the scientific and practical approach to <a href="/wiki/Computation">computation</a> and its applications and the systematic study of the feasibility, structure, expression, and mechanization of the methodical <a href="/wiki/Procedure_(computer_science)">procedures</a> (or <a href="/wiki/Algorithm">algorithms</a>) that underlie the acquisition, representation, processing, storage, communication of, and access to <a href="/wiki/Information">information</a>. An alternate, more succinct definition of computer science is the study of automating algorithmic processes that scale. A <a href="/wiki/Computer_scientist">computer scientist</a> specializes in the theory of computation and the design of computational systems.</p>
                            
                            <h2>Contributions</h2>
                            
                            <p>Despite its short history as a formal academic discipline, computer science has made a number of fundamental contributions to <a href="/wiki/Science">science</a> and <a href="/wiki/Society">society</a>&mdash;in fact, along with <a href="/wiki/Electronics">electronics</a>, it is a founding science of the current epoch of human history called the <a href="/wiki/Information_Age"> Information Age</a> and a driver of the <a href="/wiki/Information_revolution">Information Revolution</a>, seen as the third major leap in human technological progress after the <a href="/wiki/Industrial_Revolution">Industrial Revolution</a> (1750&ndash;1850 CE) and the <a href="/wiki/Neolithic_Revolution"> Agricultural Revolution</a> (8000&ndash;5000 BC).</p>
                            
                            <ul>
                                <li>The start of the &quot; <a href="/wiki/Digital_Revolution">digital revolution</a>&quot;, which includes the current <a href="/wiki/Information_Age">Information Age</a> and the <a href="/wiki/Internet">Internet</a>. <a href="#cite_note-bgu-23">[21]</a></li>
                                <li>A formal definition of <a href="/wiki/Computation">computation</a> and <a href="/wiki/Computability">computability</a>, and proof that there are computationally <a href="/wiki/Undecidable_problem">unsolvable</a> and <a href="/wiki/Computational_complexity_theory#Intractability">intractable</a> problems. <a href="#cite_note-24">[22]</a></li>
                                <li>The concept of a <a href="/wiki/Programming_language">programming language</a>, a tool for the precise expression of methodological information at various levels of abstraction. <a href="#cite_note-25">[23]</a></li>
                                <li>In <a href="/wiki/Cryptography">cryptography</a>, <a href="/wiki/Cryptanalysis_of_the_Enigma">breaking the Enigma code</a> was an important factor contributing to the Allied victory in World War II. <a href="#cite_note-kahnbook-22">[20]</a></li>
                                <li><a href="/wiki/Computational_science">Scientific computing</a> enabled practical evaluation of processes and situations of great complexity, as well as experimentation entirely by software. It also enabled advanced study of the mind, and mapping of the human genome became possible with the <a href="/wiki/Human_Genome_Project">Human Genome Project</a>. <a href="#cite_note-bgu-23">[21]</a> <a href="/wiki/Distributed_computing">Distributed computing</a> projects such as <a href="/wiki/Folding@home">Folding@home</a> explore <a href="/wiki/Protein_folding">protein folding</a>.</li>
                                <li><a href="/wiki/Algorithmic_trading">Algorithmic trading</a> has increased the <a href="/wiki/Economic_efficiency">efficiency</a> and <a href="/wiki/Market_liquidity">liquidity</a> of financial markets by using <a href="/wiki/Artificial_intelligence">artificial intelligence</a>, <a href="/wiki/Machine_learning">machine learning</a>, and other <a href="/wiki/Statistics">statistical</a> and <a href="/wiki/Numerical_analysis">numerical</a> techniques on a large scale. <a href="#cite_note-26">[24]</a> High frequency algorithmic trading can also exacerbate <a href="/wiki/Volatility_(finance)">volatility</a>. <a href="#cite_note-27">[25]</a></li>
                                <li><a href="/wiki/Computer_graphics">Computer graphics</a> and <a href="/wiki/Computer-generated_imagery">computer-generated imagery</a> have become ubiquitous in modern <a href="/wiki/Entertainment">entertainment</a>, particularly in <a href="/wiki/Television">television</a>, <a href="/wiki/Filmmaking">cinema</a>, <a href="/wiki/Advertising">advertising</a>, <a href="/wiki/Animation">animation</a> and <a href="/wiki/Video_game">video games</a>. Even films that feature no explicit <a href="/wiki/Computer-generated_imagery">CGI</a> are usually &quot;filmed&quot; now on <a href="/wiki/Digital_camera">digital cameras</a>, or <a href="/wiki/Video_editing">edited</a> or <a href="/wiki/Video_post-processing">post-processed</a> using a digital video editor. <a href="#cite_note-28">[26]</a> <a href="#cite_note-29">[27]</a></li>
                                <li><a href="/wiki/Simulation">Simulation</a> of various processes, including computational <a href="/wiki/Fluid_dynamics">fluid dynamics</a>, physical, electrical, and electronic systems and circuits, as well as societies and social situations (notably war games) along with their habitats, among many others. Modern computers enable optimization of such designs as complete aircraft. Notable in electrical and electronic circuit design are <a href="/wiki/SPICE">SPICE</a>, as well as software for physical realization of new (or modified) designs. The latter includes essential design software for <a href="/wiki/Integrated_circuit">integrated circuits</a>. [ <em> <a href="/wiki/Wikipedia:Citation_needed"> citation needed </a> </em>]</li>
                                <li><a href="/wiki/Artificial_intelligence">Artificial intelligence</a> is becoming increasingly important as it gets more efficient and complex. There are many applications of AI, some of which can be seen at home, such as <a href="/wiki/Robotic_vacuum_cleaner">robotic vacuum cleaners</a>. It is also present in video games and on the modern battlefield in drones, anti-missile systems, and <a href="/wiki/Legged_Squad_Support_System">squad support robots</a>.</li>
                                <li><a href="/wiki/Human-Computer_Interaction">Human-Computer Interaction</a> combines novel algorithms with design strategies that enable rapid human performance, low error rates, ease in learning, and high satisfaction. Researchers use ethnographic observation and automated data collection to understand user needs, then conduct usability tests to refine designs. Key innovations include the <a href="/wiki/Direct_manipulation">direct manipulation</a>, selectable web links, <a href="/wiki/Touchscreen">touchscreen</a> designs, mobile applications, and <a href="/wiki/Virtual_reality">virtual reality</a>.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}

{% block jsafter %}
<script type="text/javascript">
    $(function() {
        CKEDITOR.replace("editor-main",{height:"350px",extraPlugins:"forms"});
    });
</script>

{% endblock %}