{% extends "adminsite2_layout.html" %}
{% block content %}
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="card-title">Tabs</h4>
                            <p>
                                Tabs can be activated via calling bootstrap's JavaScript API. For this template, the tabs are activated in <code>app.js</code>                                file.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-block text-center">
                                    <h6 class="text-bold">Simple Tabs</h6>
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Profile</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#messages" role="tab">Messages</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Settings</a>
                                        </li>
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="home" role="tabpanel">
                                            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet
                                            aliquam vel, ullamcorper sit amet ligula. Cras ultricies ligula sed magna dictum
                                            porta. Vivamus suscipit tortor eget felis porttitor volutpat.
                                        </div>
                                        <div class="tab-pane" id="profile" role="tabpanel">
                                            Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar
                                            a. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                                            Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                                            Donec sollicitudin molestie malesuada.
                                        </div>
                                        <div class="tab-pane" id="messages" role="tabpanel">
                                            Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Cras ultricies ligula sed magna dictum porta. Vivamus
                                            magna justo, lacinia eget consectetur sed, convallis at tellus. Quisque velit
                                            nisi, pretium ut lacinia in, elementum id enim.
                                            <br/> Curabitur aliquet quam id dui posuere blandit. Proin eget tortor risus.
                                            Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Cras ultricies
                                            ligula sed magna dictum porta.
                                        </div>
                                        <div class="tab-pane" id="settings" role="tabpanel">
                                            Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur non nulla sit amet nisl tempus convallis
                                            quis ac lectus. Nulla quis lorem ut libero malesuada feugiat. Pellentesque in
                                            ipsum id orci porta dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing
                                            elit. Donec sollicitudin molestie malesuada. Vestibulum ac diam sit amet quam
                                            vehicula elementum sed sit amet dui. Vestibulum ante ipsum primis in faucibus
                                            orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit
                                            amet aliquam vel, ullamcorper sit amet ligula.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-block text-center">
                                    <h6 class="text-bold">Justified Tabs</h6>
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs nav-justified" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#home1" role="tab">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#profile1" role="tab">Profile</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#messages1" role="tab">Messages</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#settings1" role="tab">Settings</a>
                                        </li>
                                    </ul>

                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="home1" role="tabpanel">
                                            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet
                                            aliquam vel, ullamcorper sit amet ligula. Cras ultricies ligula sed magna dictum
                                            porta. Vivamus suscipit tortor eget felis porttitor volutpat.
                                        </div>
                                        <div class="tab-pane" id="profile1" role="tabpanel">
                                            Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar
                                            a. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                                            Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                                            Donec sollicitudin molestie malesuada.
                                        </div>
                                        <div class="tab-pane" id="messages1" role="tabpanel">
                                            Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Cras ultricies ligula sed magna dictum porta. Vivamus
                                            magna justo, lacinia eget consectetur sed, convallis at tellus. Quisque velit
                                            nisi, pretium ut lacinia in, elementum id enim.
                                            <br/> Curabitur aliquet quam id dui posuere blandit. Proin eget tortor risus.
                                            Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Cras ultricies
                                            ligula sed magna dictum porta.
                                        </div>
                                        <div class="tab-pane" id="settings1" role="tabpanel">
                                            Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Curabitur non nulla sit amet nisl tempus convallis
                                            quis ac lectus. Nulla quis lorem ut libero malesuada feugiat. Pellentesque in
                                            ipsum id orci porta dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing
                                            elit. Donec sollicitudin molestie malesuada. Vestibulum ac diam sit amet quam
                                            vehicula elementum sed sit amet dui. Vestibulum ante ipsum primis in faucibus
                                            orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit
                                            amet aliquam vel, ullamcorper sit amet ligula.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="card-title">Pills</h4>
                            <p class="content-group-sm">
                                Take the same elements, just use <code>.nav-pills</code> class instead.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-block text-center">
                                    <h6 class="text-bold content-group">Nav Pills</h6>
                                    <ul class="nav nav-pills">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#">Active</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Link</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Link</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link disabled" href="#">Disabled</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-block text-center">
                                    <h6 class="text-bold content-group">Nav Pills Justified</h6>
                                    <ul class="nav nav-pills nav-fill">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#">Active</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Link</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Link</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link disabled" href="#">Disabled</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-block text-center">
                                    <h6 class="text-bold content-group">Nav Pills With Dropdown</h6>
                                    <ul class="nav nav-pills">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#">Active</a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Separated link</a>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="card-title">Navs</h4>
                            <p class="content-group-sm">
                                Navigation available in Bootstrap share general markup and styles, from the base <code>.nav</code>                                class to the active and disabled states. Swap modifier classes to switch between each style.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-block text-center">
                                    <h6 class="text-bold content-group">Basic Nav</h6>
                                    <ul class="nav">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#">Active</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Link</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Link</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link disabled" href="#">Disabled</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-block text-center">
                                    <h6 class="text-bold content-group">Basic Nav Justified</h6>
                                    <ul class="nav justify-content-center">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#">Active</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Link</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Link</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link disabled" href="#">Disabled</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-block text-center">
                                    <h6 class="text-bold content-group">Basic Nav Justified (End)</h6>
                                    <ul class="nav justify-content-end">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#">Active</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Link</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Link</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link disabled" href="#">Disabled</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="card-title">Accordions</h4>
                            <p class="content-group">
                                The Bootstrap collapse plugin allows you to toggle content on your pages with a few classes thanks to some helpful JavaScript.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-block text-center">
                                    <h6 class="text-bold">Accordion</h6>
                                    <div id="accordion" role="tablist" aria-multiselectable="true" class="accordion">
                                        <div class="card">
                                            <div class="card-header" role="tab" id="headingOne">
                                                <h5 class="mb-0">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        Collapsible Group Item #1
                                                    </a>
                                                </h5>
                                            </div>

                                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                                <div class="card-block">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                                    non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                                                    eiusmod.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="headingTwo">
                                                <h5 class="mb-0">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Collapsible Group Item #2
                                                </a>
                                                </h5>
                                            </div>
                                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                <div class="card-block">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                                    non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                                                    eiusmod.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header" role="tab" id="headingThree">
                                                <h5 class="mb-0">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Collapsible Group Item #3
                                                </a>
                                                </h5>
                                            </div>
                                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                                <div class="card-block">
                                                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                                    vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                                                    synth nesciunt you probably haven't heard of them accusamus labore sustainable
                                                    VHS.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-block text-center">
                                    <h6 class="text-bold">Toggle</h6>
                                    <p>
                                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                            Link with href
                                        </a>
                                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                                            aria-controls="collapseExample">
                                            Button with data-target
                                        </button>
                                    </p>
                                    <div class="collapse" id="collapseExample">
                                        <div class="card card-block">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica,
                                            craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endblock %}