{% extends "adminsite2_layout.html" %}
{% block content %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title">Badges</h4>
                                    <p class="content-group-sm">Small and adaptive tag for adding context to just about any content.</p>
                                    
                                    <legend class="text-bold">Default Badges</legend>
                                    <fieldset class="content-group">
                                        <span class="badge badge-default">Default</span>
                                        <span class="badge badge-primary">Primary</span>
                                        <span class="badge badge-success">Success</span>
                                        <span class="badge badge-info">Info</span>
                                        <span class="badge badge-warning">Warning</span>
                                        <span class="badge badge-danger">Danger</span>
                                    </fieldset>

                                    <legend class="text-bold">Pill Badges</legend>
                                    <fieldset class="content-group">
                                        <span class="badge badge-pill badge-default">Default</span>
                                        <span class="badge badge-pill badge-primary">Primary</span>
                                        <span class="badge badge-pill badge-success">Success</span>
                                        <span class="badge badge-pill badge-info">Info</span>
                                        <span class="badge badge-pill badge-warning">Warning</span>
                                        <span class="badge badge-pill badge-danger">Danger</span>
                                    </fieldset>

                                    <legend class="text-bold">Flat Badges</legend>
                                    <fieldset class="content-group">
                                        <span class="badge badge-flat badge-default">Default</span>
                                        <span class="badge badge-flat badge-primary">Primary</span>
                                        <span class="badge badge-flat badge-success">Success</span>
                                        <span class="badge badge-flat badge-info">Info</span>
                                        <span class="badge badge-flat badge-warning">Warning</span>
                                        <span class="badge badge-flat badge-danger">Danger</span>
                                    </fieldset>

                                    <legend class="text-bold">Flat Pill Badges</legend>
                                    <fieldset class="content-group">
                                        <span class="badge badge-pill badge-flat badge-default">Default</span>
                                        <span class="badge badge-pill badge-flat badge-primary">Primary</span>
                                        <span class="badge badge-pill badge-flat badge-success">Success</span>
                                        <span class="badge badge-pill badge-flat badge-info">Info</span>
                                        <span class="badge badge-pill badge-flat badge-warning">Warning</span>
                                        <span class="badge badge-pill badge-flat badge-danger">Danger</span>
                                    </fieldset>

                                    <legend class="text-bold">Badges Useage Example</legend>
                                    <fieldset class="content-group">
                                        <h1>Example heading <span class="badge badge-default">New</span></h1>
                                        <h2>Example heading <span class="badge badge-default">New</span></h2>
                                        <h3>Example heading <span class="badge badge-default">New</span></h3>
                                        <h4>Example heading <span class="badge badge-default">New</span></h4>
                                        <h5>Example heading <span class="badge badge-default">New</span></h5>
                                        <h6>Example heading <span class="badge badge-default">New</span></h6>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endblock %}