{% extends "adminsite2_layout.html" %}
{% block content %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title">Input Groups</h4>
                                    <p class="content-group-sm">
                                        Easily extend form controls by adding text, buttons, or button groups on either side of textual inputs.
                                    </p>

                                    <legend class="text-bold">Basic Examples</legend>
                                    <fieldset class="content-group">
                                        <form action="#">
                                            <div class="form-group row margin-top-10">
                                                <div class="col-md-2">
                                                    <label class="control-label col-form-label">Group on left</label>
                                                </div>
                                                <div class="col-md-10">
                                                    <div class="input-group">
                                                        <span class="input-group-addon" id="basic-addon1">@</span>
                                                        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-md-2">
                                                    <label class="control-label col-form-label">Group on right</label>
                                                </div>
                                                <div class="col-md-10">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
                                                        <span class="input-group-addon" id="basic-addon2">@example.com</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-md-2">
                                                    <label class="control-label col-form-label">URL Example</label>
                                                </div>
                                                <div class="col-md-10">
                                                    <div class="input-group">
                                                        <span class="input-group-addon" id="basic-addon3">https://example.com/users/</span>
                                                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-md-2">
                                                    <label class="control-label col-form-label">Price</label>
                                                </div>
                                                <div class="col-md-10">
                                                   <div class="input-group">
                                                        <span class="input-group-addon">$</span>
                                                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                                                        <span class="input-group-addon">.00</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-md-2">
                                                    <label class="control-label col-form-label">Price (Left)</label>
                                                </div>
                                                <div class="col-md-10">
                                                   <div class="input-group">
                                                        <span class="input-group-addon">$</span>
                                                        <span class="input-group-addon">0.00</span>
                                                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </fieldset>

                                    <legend class="text-bold">Sizing</legend>
                                    <fieldset class="content-group">
                                        <div class="form-group margin-top-10 row">
                                             <div class="col-md-2">
                                                 <label class="control-label col-form-label">Size 1</label>
                                             </div>

                                             <div class="col-md-10">
                                                 <div class="input-group input-group-lg">
                                                    <span class="input-group-addon" id="sizing-addon1">@</span>
                                                    <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
                                                </div>
                                             </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-2">
                                                <label class="contorl-label col-form-label">Size 2</label>
                                            </div>

                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon" id="sizing-addon2">@</span>
                                                    <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>

                                    <legend class="text-bold">Checkbox and Radio Addons</legend>
                                    <fieldset class="content-group">
                                        <div class="form-group row margin-top-10">
                                            <div class="col-md-2">
                                                <label class="contorl-label col-form-label">Checkbox</label>
                                            </div>

                                            <div class="col-md-10">
                                               <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <input type="checkbox" aria-label="Checkbox for following text input">
                                                    </span>
                                                    <input type="text" class="form-control" aria-label="Text input with checkbox">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-2">
                                                <label class="contorl-label col-form-label">Radio</label>
                                            </div>

                                            <div class="col-md-10">
                                               <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <input type="radio" aria-label="Radio button for following text input">
                                                    </span>
                                                    <input type="text" class="form-control" aria-label="Text input with radio button">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endblock %}