{% extends "adminsite2_layout.html" %}
{% block content %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title">Date Pickers</h4>
                                    <p class="margin-bottom-20">
                                        The <code>pickadate.js</code> is a mobile-friendly, responsive, and lightweight jQuery
                                        date &amp; time input picker which allows for high levels of flexibility than any
                                        other plugin.
                                    </p>

                                    <!-- Pickadate -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="content-group-lg">
                                                <label class="text-bold no-margin-bottom">Basic</label>
                                                <p class="no-margin">The basic setup requires targetting an <code class="tag-name">input</code>                                                    element and invoking the picker.</p>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input type="text" class="form-control pickadate" placeholder="Try me..">
                                                </div>
                                            </div>

                                            <div class="content-group-lg">
                                                <label class="text-bold no-margin-bottom">Custom String</label>
                                                <p class="no-margin">Change the month and weekday labels as you find suitable.</p>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input type="text" class="form-control pickadate-strings" placeholder="Try me..">
                                                </div>
                                            </div>

                                            <div class="content-group-lg">
                                                <label class="text-bold no-margin-bottom">Custom Buttons</label>
                                                <p class="no-margin">Change the text or hide a button completely by passing a false-y value.</p>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input type="text" class="form-control pickadate-buttons" placeholder="Try me..">
                                                </div>
                                            </div>

                                            <div class="content-group-lg">
                                                <label class="text-bold no-margin-bottom">Accessibility Labels</label>
                                                <p class="no-margin">Change the <code>title</code>attributes to several elements within the picker.</p>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input type="text" class="form-control pickadate-labels" placeholder="Try me..">
                                                </div>
                                            </div>

                                            <div class="content-group-lg">
                                                <label class="text-bold no-margin-bottom">Translations</label>
                                                <p class="no-margin">The picker can be extended to add support for internationalization.</p>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input type="text" class="form-control pickadate-locale" placeholder="Try me..">
                                                </div>
                                            </div>

                                            <div class="content-group-lg">
                                                <label class="text-bold no-margin-bottom">Formats</label>
                                                <p class="no-margin">Display a human-friendly format and use an alternate to submit to the server.</p>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input type="text" class="form-control pickadate-format" placeholder="Try me..">
                                                </div>
                                            </div>

                                            <div class="content-group-lg">
                                                <label class="text-bold no-margin-bottom">Send the <code>hidden</code> value</label>
                                                <p class="no-margin">
                                                    A majority of the time, the value that needs to be sent to the server is just the hidden value – and not the visible one.
                                                    To make this happen, use the <code>hiddenName</code>                                                    option.
                                                </p>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input type="text" class="form-control pickadate-hidden" placeholder="Try me..">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="content-group-lg">
                                                <label class="text-bold no-margin-bottom">Editable Inputs</label>
                                                <p class="no-margin">
                                                    By default, inputs are <code>readOnly</code>. Change this by using <code>editable: true</code>                                                    option.
                                                </p>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input type="text" class="form-control pickadate-editable" placeholder="Try me..">
                                                </div>
                                            </div>

                                            <div class="content-group-lg">
                                                <label class="text-bold no-margin-bottom">Dropdown</label>
                                                <p class="no-margin">
                                                    Display <code>select</code> menus to pick the month and year.
                                                </p>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input type="text" class="form-control pickadate-dropdown" placeholder="Try me..">
                                                </div>
                                            </div>

                                            <div class="content-group-lg">
                                                <label class="text-bold no-margin-bottom">Number of Years</label>
                                                <p class="no-margin">
                                                    You can also specify the number of years to show using an even integer.
                                                </p>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input type="text" class="form-control pickadate-years" placeholder="Try me..">
                                                </div>
                                            </div>

                                            <div class="content-group-lg">
                                                <label class="text-bold no-margin-bottom">Date Limits</label>
                                                <p class="no-margin">
                                                    Set the minimum and maximum selectable dates on the picker.
                                                </p>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input type="text" class="form-control pickadate-limit" placeholder="Try me..">
                                                </div>
                                            </div>

                                            <div class="content-group-lg">
                                                <label class="text-bold no-margin-bottom">Disable Dates</label>
                                                <p class="no-margin">
                                                    Disable a specific or arbitrary set of dates selectable on the picker.
                                                </p>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input type="text" class="form-control pickadate-disable" placeholder="Try me..">
                                                </div>
                                            </div>

                                            <div class="content-group-lg">
                                                <label class="text-bold no-margin-bottom">Events</label>
                                                <p class="no-margin">
                                                    Fire off events as the user interacts with the picker.
                                                </p>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input type="text" class="form-control pickadate-events" placeholder="Try me..">
                                                </div>
                                            </div>

                                            <div class="content-group-lg">
                                                <label class="text-bold no-margin-bottom">Close on user action</label>
                                                <p class="no-margin">
                                                    When a date is selected or the “clear” button is pressed, the picker closes. To change this behavior, use the different options
                                                    as specified during the initializing of pickadate component.
                                                </p>
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    <input type="text" class="form-control pickadate-action" placeholder="Try me..">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Pickadate -->

                                </div>
                            </div>
                        </div>
                    </div>
 {% endblock %}