{% extends "adminsite2_layout.html" %}
{% block content %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title">Vertical Form</h4>
                                    <form action="#" class="margin-top-20">
                                        <div class="form-group">
                                            <label class="control-label">First Name</label>
                                            <input type="text" class="form-control">
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Middle Name</label>
                                            <input type="text" class="form-control">
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Last Name</label>
                                            <input type="text" class="form-control">
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Email Address</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
    												  <i class="fa fa-user"></i>
    												</span>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Password</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
    												  <i class="fa fa-key"></i>
    												</span>
                                                <input type="password" class="form-control">
                                            </div>
                                        </div>

                                        <div class="pull-right">
                                            <button type="reset" class="btn btn-secondary">
                                                Reset
                                                <i class="fa fa-refresh position-right"></i>
                                            </button>

                                            <button type="submit" class="btn btn-primary">
                                                Submit
                                                <i class="fa fa-arrow-right position-right"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title">Vertical Form</h4>
                                    <form action="#" class="margin-top-20">
                                        <div class="form-group">
                                            <label class="control-label">Address Line 1</label>
                                            <input type="text" class="form-control">
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Address Line 2</label>
                                            <input type="text" class="form-control">
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">City</label>
                                            <input type="text" class="form-control">
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Country</label>
                                            <input type="text" class="form-control">
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Postal Code</label>
                                            <input type="text" class="form-control">
                                        </div>

                                        <div class="pull-right">
                                            <button type="reset" class="btn btn-secondary">
                                                Reset
                                                <i class="fa fa-refresh position-right"></i>
                                            </button>

                                            <button type="submit" class="btn btn-primary">
                                                Submit
                                                <i class="fa fa-arrow-right position-right"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title">Two Column Vertical Form</h4>
                                    <form action="#">
                                        <legend class="text-bold">Personal Information</legend>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <fieldset class="content-group margin-top-10">
                                                    <div class="form-group">
                                                        <label class="control-label">First Name</label>
                                                        <input type="text" class="form-control">
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label">Middle Name</label>
                                                        <input type="text" class="form-control">
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label">Last Name</label>
                                                        <input type="text" class="form-control">
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label display-block">Gender</label>
                                                        <label class="custom-control custom-radio">
                                                            <input id="radio1" name="radio" type="radio" class="custom-control-input">
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">Male</span>
                                                        </label>
                                                        <label class="custom-control custom-radio">
                                                            <input id="radio2" name="radio" type="radio" class="custom-control-input">
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">Female</span>
                                                        </label>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="col-md-6">
                                                <fieldset class="content-group margin-top-10">
                                                    <div class="form-group">
                                                        <label class="control-label">Email Address</label>
                                                        <input type="text" class="form-control">
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label">Password</label>
                                                        <input type="text" class="form-control">
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label">Username</label>
                                                        <input type="text" class="form-control">
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label">Suffix</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>

                                        <legend class="text-bold">Postal Address</legend>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <fieldset class="content-group margin-top-10">
                                                    <div class="form-group">
                                                        <label class="control-label">Address Line 1</label>
                                                        <input type="text" class="form-control">
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label">Address Line 2</label>
                                                        <input type="text" class="form-control">
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label">State</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="col-md-6">
                                                <fieldset class="content-group margin-top-10">
                                                    <div class="form-group">
                                                        <label class="control-label">City</label>
                                                        <input type="text" class="form-control">
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label">Country</label>
                                                        <input type="text" class="form-control">
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label">Postal Code</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>

                                        <div class="pull-right">
                                            <button type="reset" class="btn btn-secondary">
                                                Reset
                                                <i class="fa fa-refresh position-right"></i>
                                            </button>

                                            <button type="submit" class="btn btn-primary">
                                                Submit
                                                <i class="fa fa-arrow-right position-right"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}