{% extends "adminsite2_layout.html" %}
{% block content %}
            <!-- PAGE CONTENT -->
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="text-bold content-group-sm">Headings</h5>
                        </div>
                    </div>
                    <div class="row content-group">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    Light Headings
                                </div>
                                <div class="card-block">
                                    <h1 class="text-light">H1 Heading</h1>
                                    <h2 class="text-light">H2 Heading</h2>
                                    <h3 class="text-light">H3 Heading</h3>
                                    <h4 class="text-light">H4 Heading</h4>
                                    <h5 class="text-light">H5 Heading</h5>
                                    <h6 class="text-light">H6 Heading</h6>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    Default Headings
                                </div>
                                <div class="card-block">
                                    <h1>H1 Heading</h1>
                                    <h2>H2 Heading</h2>
                                    <h3>H3 Heading</h3>
                                    <h4>H4 Heading</h4>
                                    <h5>H5 Heading</h5>
                                    <h6>H6 Heading</h6>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    Bold Headings
                                </div>
                                <div class="card-block">
                                    <h1 class="text-bold">H1 Heading</h1>
                                    <h2 class="text-bold">H2 Heading</h2>
                                    <h3 class="text-bold">H3 Heading</h3>
                                    <h4 class="text-bold">H4 Heading</h4>
                                    <h5 class="text-bold">H5 Heading</h5>
                                    <h6 class="text-bold">H6 Heading</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="text-bold content-group-sm">Lists</h5>
                        </div>
                    </div>

                    <div class="row content-group">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    Bullet Lists
                                </div>
                                <div class="card-block">
                                    <ul>
                                        <li>Vivamus suscipit tortor eget felis</li>
                                        <li>Porttitor volutpat vivamus suscipit tortor</li>
                                        <li>Vivamus magna justo lacinia eget</li>
                                        <ul>
                                            <li>Vivamus suscipit tortor eget felis</li>
                                            <li>Nulla quis lorem ut libero</li>
                                            <li>Porttitor accumsan tincidunt</li>
                                        </ul>
                                        <li>Mauris blandit aliquet elit</li>
                                        <li>Curabitur non nulla sit amet nisl tempus</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    Bullet Lists
                                </div>
                                <div class="card-block">
                                    <ol>
                                        <li>Vivamus suscipit tortor eget felis</li>
                                        <li>Porttitor volutpat vivamus suscipit tortor</li>
                                        <li>Vivamus magna justo lacinia eget</li>
                                        <ul>
                                            <li>Vivamus suscipit tortor eget felis</li>
                                            <li>Nulla quis lorem ut libero</li>
                                            <li>Porttitor accumsan tincidunt</li>
                                        </ul>
                                        <li>Mauris blandit aliquet elit</li>
                                        <li>Curabitur non nulla sit amet nisl tempus</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    Unstyled Lists
                                </div>
                                <div class="card-block">
                                    <ul class="list-unstyled">
                                        <li>Vivamus suscipit tortor eget felis</li>
                                        <li>Porttitor volutpat vivamus suscipit tortor</li>
                                        <li>Vivamus magna justo lacinia eget</li>
                                        <ul>
                                            <li>Vivamus suscipit tortor eget felis</li>
                                            <li>Nulla quis lorem ut libero</li>
                                            <li>Porttitor accumsan tincidunt</li>
                                        </ul>
                                        <li>Mauris blandit aliquet elit</li>
                                        <li>Curabitur non nulla sit amet nisl tempus</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="text-bold content-group-sm">Text Alignment</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    Alignment Options
                                </div>
                                <div class="card-block">
                                    <p class="text-left">Left aligned text on all viewport sizes.</p>
                                    <p class="text-center">Center aligned text on all viewport sizes.</p>
                                    <p class="text-right">Right aligned text on all viewport sizes.</p>

                                    <p class="text-sm-left">Left aligned text on viewports sized SM (small) or wider.</p>
                                    <p class="text-md-left">Left aligned text on viewports sized MD (medium) or wider.</p>
                                    <p class="text-lg-left">Left aligned text on viewports sized LG (large) or wider.</p>
                                    <p class="text-xl-left">Left aligned text on viewports sized XL (extra-large) or wider.</p>
                                </div>
                            </div>
                        </div>
                    </div>

            <!-- /PAGE CONTENT -->
{% endblock %}