{% extends "adminsite2_layout.html" %}
{% block content %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title">Buttons</h4>
                                    <p>
                                        This theme has the following button styles built-in. You can always extend them to 
                                        support your taste and theme!
                                    </p>

                                    <legend class="text-bold">Default Buttons</legend>
                                    <fieldset class="content-group">
                                        <button type="button" class="btn btn-primary">Primary</button>
                                        <button type="button" class="btn btn-secondary">Secondary</button>
                                        <button type="button" class="btn btn-success">Success</button>
                                        <button type="button" class="btn btn-info">Info</button>
                                        <button type="button" class="btn btn-warning">Warning</button>
                                        <button type="button" class="btn btn-danger">Danger</button>
                                        <button type="button" class="btn btn-link">Link</button>
                                    </fieldset>

                                    <legend class="text-bold">Default Buttons (Rounded)</legend>
                                    <fieldset class="content-group">
                                        <button type="button" class="btn btn-primary btn-rounded">Primary</button>
                                        <button type="button" class="btn btn-secondary btn-rounded">Secondary</button>
                                        <button type="button" class="btn btn-success btn-rounded">Success</button>
                                        <button type="button" class="btn btn-info btn-rounded">Info</button>
                                        <button type="button" class="btn btn-warning btn-rounded">Warning</button>
                                        <button type="button" class="btn btn-danger btn-rounded">Danger</button>
                                    </fieldset>

                                    <legend class="text-bold">Default Buttons (with icons)</legend>
                                    <fieldset class="content-group">
                                        <button type="button" class="btn btn-primary"><i class="fa fa-heart position-left"></i>Primary</button>
                                        <button type="button" class="btn btn-secondary"><i class="fa fa-heart position-left"></i>Secondary</button>
                                        <button type="button" class="btn btn-success"><i class="fa fa-heart position-left"></i>Success</button>
                                        <button type="button" class="btn btn-info"><i class="fa fa-heart position-left"></i>Info</button>
                                        <button type="button" class="btn btn-warning"><i class="fa fa-heart position-left"></i>Warning</button>
                                        <button type="button" class="btn btn-danger"><i class="fa fa-heart position-left"></i>Danger</button>
                                        <button type="button" class="btn btn-link"><i class="fa fa-heart position-left"></i>Link</button>
                                    </fieldset>

                                    <legend class="text-bold">Outline Buttons</legend>
                                    <fieldset class="content-group">
                                        <button type="button" class="btn btn-outline-primary">Primary</button>
                                        <button type="button" class="btn btn-outline-secondary">Secondary</button>
                                        <button type="button" class="btn btn-outline-success">Success</button>
                                        <button type="button" class="btn btn-outline-info">Info</button>
                                        <button type="button" class="btn btn-outline-warning">Warning</button>
                                        <button type="button" class="btn btn-outline-danger">Danger</button>
                                    </fieldset>

                                    <legend class="text-bold">Outline Buttons (Rounded)</legend>
                                    <fieldset class="content-group">
                                        <button type="button" class="btn btn-outline-primary btn-rounded">Primary</button>
                                        <button type="button" class="btn btn-outline-secondary btn-rounded">Secondary</button>
                                        <button type="button" class="btn btn-outline-success btn-rounded">Success</button>
                                        <button type="button" class="btn btn-outline-info btn-rounded">Info</button>
                                        <button type="button" class="btn btn-outline-warning btn-rounded">Warning</button>
                                        <button type="button" class="btn btn-outline-danger btn-rounded">Danger</button>
                                    </fieldset>

                                    <legend class="text-bold">Buttons Sizing</legend>
                                    <fieldset class="content-group">
                                        <button type="button" class="btn btn-primary btn-lg">Large button</button>
                                        <button type="button" class="btn btn-secondary btn-lg">Large button</button>
                                        <button type="button" class="btn btn-primary">Regular button</button>
                                        <button type="button" class="btn btn-secondary">Regular button</button>
                                        <button type="button" class="btn btn-primary btn-sm">Small button</button>
                                        <button type="button" class="btn btn-secondary btn-sm">Small button</button>
                                    </fieldset>

                                    <legend class="text-bold">Checkbox Buttons</legend>
                                    <fieldset class="content-group">
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-primary active">
                                                <input type="checkbox" checked autocomplete="off"> Checkbox 1 (pre-checked)
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="checkbox" autocomplete="off"> Checkbox 2
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="checkbox" autocomplete="off"> Checkbox 3
                                            </label>
                                        </div>
                                    </fieldset>

                                    <legend class="text-bold">Radio Buttons</legend>
                                    <fieldset class="content-group">
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-primary active">
                                                <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1 (preselected)
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
                                            </label>
                                            <label class="btn btn-primary">
                                                <input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
                                            </label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endblock %}