{% extends "adminsite2_layout.html" %}

{% block extrascripts %}
<link rel="stylesheet" href="/static/chartistjs/chartist.min.css">
<script type="text/javascript" src="/static/chartistjs/chartist.min.js"></script>
<script type="text/javascript" src="/adminsite2/static/charts_chartist.js"></script>



{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-title">Chartist.js <small>Simple Responsive Charts</small></h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-block">
                    <h5 class="card-title">Simple Line Chart</h5>
                    <div class="ct-chart-line height-250"></div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-block">
                    <h5 class="card-title">Line Chart With Area</h5>
                    <div class="ct-chart-line-area height-250"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-block">
                    <h5 class="card-title">Bipolar Chart</h5>
                    <div class="ct-chart-bipolar height-250"></div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-block">
                    <h5 class="card-title">Bars Chart</h5>
                    <div class="ct-chart-bars height-250"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-block">
                    <h5 class="card-title">Pie Chart</h5>
                    <div class="ct-chart-pie height-250"></div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-block">
                    <h5 class="card-title">Gaguge Chart</h5>
                    <div class="ct-chart-gauge height-250"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}