<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Zero ChatBot</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="/static/bootstrap3/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/fontawesome4/css/fontawesome.min.css">
		<link rel="stylesheet" href="/chat/static/css/form-elements.css">
        <link rel="stylesheet" href="/chat/static/css/style.css">
    </head>

    <body>
        <div class="loader" id="spinner"></div>
		<!-- Top menu -->
		<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">Zero Bot</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="top-navbar-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<span class="li-social">
								<a href="https://www.facebook.com/ThreeFoldCommunity/" target="_blank"><i class="fa fa-facebook"></i></a>
								<a href="https://twitter.com/threefold_fdn" target="_blank"><i class="fa fa-twitter"></i></a>
								<a href="https://www.youtube.com/threefoldfoundation" target="_blank"><i class="fa fa-youtube"></i></a>
								<a href="https://github.com/threefold" target="_blank"><i class="fa fa-github"></i></a>
							</span>
						</li>
					</ul>
				</div>
			</div>
		</nav>

        <!-- Top content -->
        <div class="top-content">
            <div class="container">

                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1><strong>Zero Chat Bot</strong></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 form-box">
                        <form role="form" action="" method="post" class="f1">
                    		<div class="f1-steps"></div>
                    		<div id="wizard"></div>
                    	</form>
                    </div>
                </div>
            </div>
        </div>
        <script>var SESSIONID={{session_id}}</script>
        <!-- Javascript -->
        <script src="/static/jquery/jquery.min.js"></script>
        <script src="/static/bootstrap3/js/bootstrap.min.js"></script>
        <script src="/static/jquery/jquery.backstretch.min.js"></script>
        <script src="/static/retina/retina.min.js"></script>
        <script src="/static/showdown/showdown.min.js"></script>
        <script src="/chat/static/js/client.js"></script>
        <script src="/chat/static/js/bot_client.js"></script>
        <script src="/chat/static/js/scripts.js"></script>

    </body>

</html>
