<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap4/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet">
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/bootstrap4/bootstrap.min.js"></script>
  </head>


  <body>
    {% include "_nav.html" %}

    {% block content %}
    {% endblock %}


    {% include "_footer.html" %}
  </body>

    <!-- Bootstrap core JavaScript -->



</html>
